<div class = 'eight columns'>
  
  <h1 class = 'title_bar'><%= @movie.title %></h1>
  <div class = 'info' >
  
  <h4>Box Office Numbers</h4>
  <p>Budget: $<%= @budget %></p>
  <p>Most recent weekend: $<%= @movie.box_office_performance.gsub("$","").gsub(",","").to_i %></p>
  <p>Total box office gross: $<%= @movie.total_box_office.gsub("$","").gsub(",","").to_i %></p> 
  <h4>Fantasy Box Office Breakdown</h4>
  <h5>Regular Numbers</h5>
  <p>Most Recent Weekend Score: <%= @most_recent_percentage %></p>
  <p>Lifetime Score: <%= @total_percentage %></p>

  <h5>Bomb Numbers</h5>
  <p>Most Recent Weekend Bomb Score: <%= @wknd_bomb_score.abs %></p>

  <p>Lifetime Bomb Score: <%= @total_bomb_score.abs %></p>
  <div><a href= '/home'>Home</a></div>
  <div><a href= '/movies'>Index of Movies</a></div>
  <div><a href= '/leagues'>List of Leagues</a></div>
  <div><a href= '/users'>List of Users</a></div>
</div>
</div>

